div.blur {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.76);
  z-index: 99;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.blur div.main {
  display: flex;
  flex-direction: column;
  width: 380px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  padding: 16px;
  border-radius: 8px;
}

div.blur div.main div.topHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.right div {
  padding: 2rem;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

div.right div hr {
  width: 25px;
  border: 1px solid rgb(150, 144, 144);
}

div.right div hr:first-child {
  position: absolute;
  transform: rotate(45deg);
  transform-origin: center;
}

div.right div hr:nth-child(2) {
  position: absolute;
  transform-origin: center;
  transform: rotate(-45deg);
}

div.left h2 {
  color: #1c1e21;
  font-size: 32px;
  line-height: 38px;
}
div.left p {
  color: #606770;
  font-size: 15px;
  line-height: 24px;
}
hr.line {
  width: 100%;
  margin: 6px 0;
  border: none;
  border-top: 1px solid #bec0c4;
  outline: 0;
  margin-bottom: 20px;
}

form {
  width: 100%;
}

form input {
  padding: 11px;
  font-size: 15px;
  line-height: 16px;
  border-radius: 6px;
  border: 1px solid #ccd0d5;
  outline: none;
  width: 100%;
  margin-bottom: 18px;
}

form p {
  color: #606770;
  font-size: 12px;
  line-height: 20px;
}

form div.dob {
  display: flex;
  justify-content: space-between;
}

form div.dob select {
  width: 100px;
  margin-top: 3px;
  height: 30px;
  border: 1px solid #ccd0d5;
  border-radius: 3px;
}

form p.gender {
  margin-top: 16px;
  margin-bottom: 2px;
}

form div.gender select {
  width: 100px;
  border: 1px solid #ccd0d5;
  height: 30px;
  border-radius: 3px;
  margin-bottom: 8px;
}

p.terms {
  color: #777;
  margin-top: 5px;
  font-size: 11px;
  line-height: 16px;
}

div.btn {
  display: flex;
  justify-content: center;
}

form button {
  margin: 20px 0 10px 0;
  height: 36px;
  padding: 0 3rem;
  border: none;
  background-color: rgb(101, 167, 2);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}
form button:hover {
  background-color: rgb(87, 141, 7);
}

span.error {
  display: inline-block;
  color: red;
  font-size: 13px;
  margin-bottom: 3px;
  font-weight: 500;
}

.displayNone {
  display: none !important;
  visibility: hidden;
}

form p.msg {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
}

form p.loginErr {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  color: red;
  font-family: Helvetica, Arial, sans-serif;
}
@media all and (min-width: 850px) {
  form div.name {
    display: flex !important;
    column-gap: 1rem;
  }
  div.blur div.main {
    width: 450px;
  }
}
